<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="planar_move_plugin" params="robot_name base_name">
    <gazebo>
        <plugin name="gz::sim::v8::systems::PlanarMove" filename="libgazebo_planar_move_plugin.so">
            <robot_namespace>$(arg robot_name)</robot_namespace>
            <robot_frame>$(arg base_name)</robot_frame>
            <odometry_frame>odom</odometry_frame>
            <odometry_topic>odom</odometry_topic>
            <command_topic>cmd_vel</command_topic>
            <control_mode>velocity</control_mode>
            <publish_odometry>true</publish_odometry>
            <publish_tf>true</publish_tf>
            <publish_imu>false</publish_imu>
            <ground_truth>true</ground_truth>
            <update_rate>100</update_rate>
            <publish_rate>100</publish_rate>
        </plugin>
    </gazebo>
  </xacro:macro>
</robot>